:root{
    --color-primary: #3384e8;
    --color-secondary: #7ae0ff;
    --color-accent: #ff3400;
    --color-heading: #1b0760;
    --color-body: #918ca4;
    --color-body-darker: #362e54;  
    --color-border: #ccc; 
}



/*Typography*/

::selection{
    background: var(--color-primary);
    color: #fff;
}
html{
    background-color: #fff;
    font-size: 62.5%;
}

body{
    font-family: Inter, Arial, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    color: var(--color-body);
    overflow-x: hidden;
}

h1, h2, h3{
    color: var(--color-heading);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
    
}
p{
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
    }
}

/*Links*/
a{
    text-decoration: none;
}
.link-arrow{
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after{
    content:"-->";
    margin-left: 5px;
    transition: margin 0.15s;
}
.link-arrow:hover::after{
    margin-left: 10px;
}

@media screen and (min-width: 1024px){
    .link-arrow{
        font-size: 1.5rem;
    }
}

/*badges*/
.badge{
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    margin-bottom: 100rem;
    white-space: nowrap;
}
.badges--primary{
    background: var(--color-primary);
    color: #fff;
}
.badges--secondary{
    background: var(--color-secondary);
    color: #fff;
}
.badge--small{
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;
}


@media screen and (min-width: 1024px){
    .badge{
        font-size: 1.5rem;
    }
    .badge--small{
        font-size: 1.2rem;
    }
}

/*Lists*/
.list{
    list-style: none;
    padding-left: 0;
}

.list--inline .list__item{
    display: inline-block;
    margin-right: 2rem;

}

.list--tick{
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
    color: var(--color-heading);
}

.list--tick .list__item{
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}


/*Icons*/
.icon{
    width: 40px;
    height: 40px;
}
.icon--small{
    width: 30px;
    height: 30px;
}
.icon--large{
    width: 150px;
    height: 150px;
}
.icon--primary{
    fill: var(--color-primary);
}
.icon-container{
    background-color: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.icon-container--small{
    width: 40px;
    height: 40px;
}
.icon-container--accent{
    background: var(--color-accent);
}
.icon--white{
    fill: white;
}
.icon--black{
    fill:#000;
}

/*buttons*/
.btn{
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 40px;
    font-size: 1.8rem;
}
.button--streched{
    padding-left: 6rem;
    padding-right: 6rem;
}
.button--accent{
    background-color: var(--color-accent);
    color: #fff;
}
.btn--block{
    display: inline-block;
    width: 85%;
}
.btn--outline{
    border-color: #2d2251;
    background-color: white;
    color: #201000;
}

/*INPUT COMPONENT*/


.input{
    color:  var(--color-heading);
    font-size: 2rem;
    outline: 0;
    padding: 1.5rem 1rem;
}

::placeholder{
    color: #cdcbd7;
}


/*INPUT GROUP*/
.input-group{
    min-width: 216px;
    padding-left: 2vw;
    border-radius: 50px;
    margin: 5rem 10%;
    border: 1px solid var(--color-border);
    box-shadow: 0 0 10px rgb(163, 151, 151);
    display: flex;
    align-items: center;
    
}
.input-group .input{
        border: none;        
        flex-grow: 1;
        min-width: 0;
        overflow: hidden;
    }
.input-group .btn{
    margin:4px;
    display: flex;
    border: 0;
}

/*Cards*/
.card{
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow: hidden;
}
.card__header, .card__body{
    padding: 2rem 3rem;
    text-wrap: nowrap;
    flex-wrap: nowrap;
}

.card--primary .card__header{
    background: var(--color-primary);
    color: #fff;
}


.card--secondary .card__header{
    background: var(--color-secondary);
    color: #fff;
}

.card--secondary .badges--secondary{
    margin-left: 0;
    border: 1px solid #83cbf2;
    background: #63d2e6;
}

.card--primary .badges--primary{
    margin-left: 0;
    background: #0c70d4;
    border: 1px solid var(--color-primary);
}


/*Plans*/
.plan{
    flex-wrap: nowrap;
}
.plan__name{
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
}
.plan__price{
    font-size: 6rem;
}
.plan__billing-cycle{
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
}
.plan__badge{
    border-radius: 15px;
    
    color: #fff;
}
.plan__discription{
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-wrap: nowrap;
    display: block;
}
.plan .list__item{
    letter-spacing: 1px;
    margin-bottom: 2rem;
}
.plan .card__body{
    align-items: center;
    justify-items: center;
    justify-self: center;
}
.plan--popular{
    top: 20px;
    transform: scale(1.1);
}

.plan--popular .card__header{
    position: relative;
}

.plan--popular .card__header::before{
    content: url(../images/popular.svg);
    width: 30px;
    display: inline-block;
    position: absolute;
    margin : 0;
    padding: 0;
    top: -6px;
    right: 5%;
}

/*Media*/
.media{
    display: flex;
}
.media--head{
    font-weight: 500;
    color: var(--color-body-darker);
}
.media--contant{
    padding-left: 10px;
    padding-top: 3px;
}

/*Quotes*/
.quotes{
    font-size: 3rem;
    font-style: italic;
    color: var(--color-body-darker);
    line-height: 1.3;

    
}.quotes__text{
        margin-bottom: 20px;
        color: var(--color-body-darker);
        opacity: 80%;
    }
.quotes__text::before{
    content: open-quote;
}

.quotes__text::after{
    content: close-quote;
}
.quotes .media--body{
    font-size: 1.5rem;
    opacity: 40%;
    font-style: normal;
}
.quotes .media--head{
    font-size: 3.5rem;
    font-style: normal;
    padding-top: 0;
    font-weight: 400;
}

.quote__line{
    position: relative;
    top: 5px;
}


@media screen and (min-width: 1024px) {
    .quotes{
        font-size: 2rem;
    }
    .quote__author{
        font-size: 2.4rem;
    }
    .quote__company{
        font-size: 1.6rem;
    }
}

/*Grids*/
.grid{
    display: grid;
}
@media screen and (min-width: 768px) {
    .grid--1x2{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1081px) {
    .grid--1x3{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


/*testostinomial*/
.testimonial{
    padding: 3rem;
    background-color: #fff;
    border-radius: 5px;
    margin: 20px 50px;
}
.testimonial__image{
    position: relative;
}
.testimonial__image > img{
    width: 100%;
}


@media screen and (min-width: 768px){
    .testimonial .quotes{
        font-size: 2rem;
    }
    .testimonial .quote__author{
        font-size: 2.4rem;
    }
    .testimonial__image > .icon-container{
        position: absolute;
        top:3rem;
        right: -32px;
    }
}
.testimonial .quotes{
    margin-left: 6rem;
}


/*call out*/
.callout{
    margin: 6rem;
    border-radius: 5px;
    padding: 4rem;
    z-index: 1;
}
.callout *{
    z-index: 1;
}

.callout--primary{
    background-color: var(--color-primary);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
}
.callout--primary h2{
    color: #fff;
    font-size: 3rem
}

.callout__button{
    margin-top: 2rem;
    padding: 2rem 6rem;
    width: fit-content;
    align-self: center;
    background-color: #00d9ff;
    color: #fff;
    font-weight: 700;
    text-wrap: nowrap;
    justify-self: center;
}
.callout__content
{
    text-align: center;
}

@media screen and (min-width: 768px) {
    .callout .grid--1x2{
        grid-template-columns: 1fr auto;
    }
    .callout__content{
        text-align: start;
    }
    .callout__button{
        justify-self: start;
        margin: 0 2rem;
    }
}


/*Collapsible*/
.collapsible__header{
    display: flex;
    justify-content: space-between;
}
.collapsible__heading{
    margin-top: 0;
    font-size: 3rem;
}
.collapsible__chevron{
    transform: rotate(-90deg);
    transition: 0.3s;
}
.collapsible__content{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .3s;
}

.collapsible--expanded .collapsible__chevron{
    transform: rotate(0);
}
.collapsible--expanded .collapsible__content{
    display: block;
    max-height: 100vh;
    opacity: 100%;

}

/*Block*/

.block{
    --padding-vertical: 6rem;
    padding: var(--padding-vertical) 2rem;
}
.block__header{
    text-align: center;
}
.block__heading{
    margin-top: 10px;
}
.block--dark{
    background: #000;
    color: #7b858b;
}
.block--dark .block__heading{
    color: #fff;
}
.block--skewed-right{
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}
.block--skewed-left{
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.container .block{
    background-color: #000;
    border-bottom: 1px solid #fff;
    padding-bottom: 0;
}
.block--footer{
    background: #232323;
}

/*Nav Bar*/

.nav-bar{
    border-bottom: 1px solid #524d4d;
    height: fit-content;
    background: #000000;
    margin: 0;
    margin-top: 0;
    display: flex;
    padding: 4rem;
    padding-top: 1.4rem;
    padding-bottom: 0.6rem;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav-bar .company-logo{
    display: flex;
}
.nav-bar .company-logo h2{
    margin-top: 0;
    padding-top: 0;
    color: #fff;
    font-size: 4rem;
}
.nav-bar .company-logo img{
    width: 30px;
    height: 30px;
    padding-top: 7px;
}
.nav-bar .icon-container{
    background: #000;
    
}.nav-bar .icon{
        fill: #fff;
    }
.nav-bar ul{
    margin-top: 0;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    background: #000;
}
.nav-bar ul li{
    padding: 0.7rem 2rem;
    border-bottom: 1px solid #222;
}
.nav-bar ul li > a{
    color: rgb(162, 162, 162);
    font-size: 2rem;
}
.nav-bar .nav__list{
    width: 100%;
}
.nav__list > li > a{
    transition: color 0.3s;
}
.nav__list > li > a:hover{
    color: #ffffff;
}
.nav__toggler{
    opacity: 0.5;
    transition: box-shadow 0.15s;
}
.nav-bar.collapsible--expanded .nav__toggler{
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
}


@media screen and (min-width:768px) {  
    .nav-bar{
        align-items: center;
    }
    .nav-bar .nav__toggler.icon--small{
        display: none;
    }
    .nav__list.list.list--inline{
        width: auto;
        display: flex;
        align-items: center;
        max-height: 100%;
        opacity: 1;
    }
    .nav__list.list.list--inline li{
        border: none;
    }
    .nav__list a{
        color: #fff;
    }
    .brand{
        transform: translateY(5px);
    }

}



/*Hero Page*/

.hero__content{
    font-size: 2rem;
    color: #b9c3cf;
    letter-spacing: 1px;
    margin: 2rem 0 5rem;
    text-align: center;
}
.hero__image{
    width: 100%;
}

@media screen and (min-width: 768px){
    .hero__content{
        text-align: start;
        align-self:center;
        padding-top: 10rem;
        
    }
    .hero__content h1{
            font-weight: 700;
            font-size: 8rem;
            margin-bottom: 2rem;
        }
    .hero__content p{
            letter-spacing: 1px;
            margin-bottom: 5rem;
        }
    .hero{
        padding-top: 0;
        margin: 0;
    }
    .block--skewed-left{
        padding-top: 0;
    }
    .hero__image{
        align-self: self-end;
    }
}

/*Domain*/
.domain-badges{
    display: flex;
    justify-content: center;
}
.domain-search{
    max-width: 760px;
}


.block-domain__prices{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 6rem);
    justify-items: center;
    font-weight: 600;
    max-width: 700px;
    align-items: center;
    align-content: center;
    text-wrap: nowrap;
}
.block-domain__prices li{
    justify-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
@media screen and (min-width: 768px) {
    #block-domain__prices{
        font-size: 2rem;
        padding-right: 10px;
        padding-left: 10px;
        align-self: center;
        margin-left: 2%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
}
.plan--block{
    margin-right: 25vw;
    margin-left: 25vw;
  
}

.plan--block div{
    display: inline-block;
    width: 50vw;
}
.plan--block .plan{
    /* max-width: 0.3vw; */
        min-width: 0.5vw;
        margin-left: 0.2vw;
    }
@media screen and (min-width:1024px) {
    .plan--block{
        margin: 0;
    }
    .plan--block .grid{
        min-width: 0;
    }
    
}
.gap-class{
    gap: 8rem 4rem;
}


/*Hover effects on plan Card*/
.plan{
    transition: transform 0.2s ease-out;
}

.block .plan:hover{
        z-index: 2;
        transform: scale(1.05);       
    }
.block .plan .btn:hover{
    background-color: var(--color-heading);
    color: #fff;
    
}
.block .plan--popular:hover{
    transform: scale(1.15);
}
.block .btn{
    cursor: pointer;
}


/*Feature Block*/
.Feature-block .grid{
        gap: 4rem 2rem;
}
    .Features__details{
        margin-left: 1rem;
        margin-top: -1rem;
        
    }.Feature-block .icon-container{
            margin-left: 0.5rem;
            /* margin-top: 1rem; */
            margin-bottom: 0;
        }
        .Feature-block h2{
            margin: 1rem 0 2rem;
            font-size: 2.4rem;
            font-weight: 600;
        }
        .Feature-block p{
            margin-bottom: 1.8rem;
            line-height: 1.5;
            letter-spacing: 0.5px;
        }
        .Feature-block .a{
            font-size: 1.5rem;
        }
    .Feature-block img{
        width: 100%;
    }



/*Show Case*/
.show-case--block img{
        width: 600px;
        height: 475px;
    }
    .show-case--block h2{
        margin: 0 0 4rem;
        text-align: center;
    }
    .show-case--block .media{
        margin-bottom: 5rem;
        
    }.show-case--block .media--head{
            color: #fff;
            font-size: 2.5rem;
            margin-top: -1rem;
            margin-left: 1rem;
            margin-bottom: 1rem;
        }
        .show-case--block .media--body{
            margin-left: 1rem;
            font-size: 1.7rem;
        }
    .show-case--block .grid--1x2{
        display: grid;
    }
.show-case--block .icon{
    width: 150px;
    height: 50px;
    margin-top: 10px;
    justify-content: start;
    align-self: start;
}

@media screen and (min-width: 768px) {
    .show-case--block .grid{
        grid-template-columns: 50% 50%;
    }
    .show-case--block img{
        width: auto;
        justify-self: end;
    }
}



/*Footer*/
.block--footer{
    background-color: #222;
}
.block--footer h2{
        color: #fff;
    }
    .footer__section{
        padding: 1rem;
        border-bottom: 0.8px solid #393939;
    }
    .footer__section h2{
        font-size: 2.4rem;
        font-weight: 600;
        
    }
    .footer__section ul{
        padding-left: 0;
        margin-top: 0.5rem;
        margin-bottom: 0;
    }
    .footer__section a{
        font-size: 2rem;
        list-style: none;
        line-height: 3rem;
        color: #818080;
    }
    .logo--large{
        width: 250px;
    }
.logo-to-top{
    margin-top: 5rem;
}


@media screen and (min-width:810px) {
    .block--footer{
        display: flex;
    }
    .footer-flex-start{
        order: -1;
        
    }.footer-flex-start .logo-to-top{
            margin-top: 0;
        }
    .footer__section{
        border-bottom: 0;
        
    }.footer__section .collapsible__heading{
            font-size: 1.6rem;
        }
    .block--footer .collapsible__chevron{
        display: none;
    }
    .block--footer .collapsible{

        opacity: 1;
        max-height: 100%;
        
    }
    .block--footer a{
        color: #777;
        transition: color 0.3s;
        font-size: 1.4rem;
        line-height: 1.4rem;
        padding-bottom: 1rem;
    }

    .block--footer a:hover{
        color: #fff;
    }

    .collapsible__content{
        opacity: 1;
        max-height: 100%;
    }
}



@media screen and (max-width: 640px) {
    *{
        max-width: 100vw;
    }
    .plan--block .grid{
        grid-template-columns: 80vw;
    }
    .plan{
        width: 100vw;
    }
    .card{
        margin-left: 10vw;
        width: 80vw;
    }
    .testimonial--block{
        max-width: 80vw;
    }
    .testimonial--block .quotes__text{
        font-size: 1.6rem;
    }
    .testimonial--block .testimonial__image img{
        width: 79vw;
    }
    .testimonial--block h2{
        font-size: 2.4rem;
        margin-left: 1rem;
    }
    .testimonial--block p{
        font-size: 2rem;
        text-align: center;
    }
    .testimonial--block .card{
        padding-left: 1rem;
        padding-right: 0;
        margin-right: 0;
    }
    .block--plan li{
        text-wrap: wrap;
    }.show-case--block{
        overflow: hidden;
    }
    .show-case--block img{
        width: auto;
    }
}